


<div class="container">

  <h2><%= @restaurant.name %></h2>
  <br>
  <p>
    Address:
    <%= @restaurant.address %>
  </p>

  <p>

    Cuisine:
    <%= @restaurant.category %>

  </p>
  <p>
    <%= link_to "Back to list of restaurants", restaurants_path %>

  </p>

</div>
